normalized_mfcc_features.npy
normalized_spectral_centroid.npy
normalized_zero_crossing_rate.npy
README.md
/fma_metadata
/fma_small
/fma_small1
/cache
task.ipynb
labels.npy
/cache_directory
Model_Train.ipynb
labels1.txt
Nearpy.py
/GMM_model
labels1.txt 
/LSH_model 
modeltrain.py 
normalized_features_dict.npy
test.py 


