<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify-like Audio Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/spotify_logo.png') }}" alt="Spotify Logo" class="spotify-logo">
    </header>

    <div class="main-content">
        <div class="album-cover">
            <img src="{{ url_for('static', filename='images/Album_cover.png') }}" alt="Album Cover" id="current-album-cover">
        </div>

        <div class="song-details-container">
            <table class="song-list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                    <tr>
                        <td>{{ track['title'] }}</td>
                        <td>{{ track['artist'] }}</td>
                        <td>{{ track['album'] }}</td>
                        <td>
                            <button onclick="playSong('{{ url_for('static', filename='audio/' + track['file_name']) }}', '{{ track['title'] }}', '{{ track['album'] }}')">Play</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <div class="song-controls">
            <button id="prev">Prev</button>
            <button id="play-pause">Play</button>
            <button id="next">Next</button>
        </div>
        <div class="now-playing">
            <marquee id="now-playing-text"></marquee>
        </div>
    </footer>

    <script>
        var audioFiles = {{ tracks | tojson | safe }};
        for (var i = 0; i < audioFiles.length; i++) {
            audioFiles[i].url = "{{ url_for('static', filename='audio/') }}" + audioFiles[i].file_name;
        }
    </script>

    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>
</html>